In [13]:
import pandas as pd
import numpy as np
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [20]:
#load the dev data so that you can see how a baseline model works on a sample data

dev_data = np.load("../data/interim/dev_data.npy", allow_pickle=True)
# dev_data

In [3]:
# load the data and get the columns
df = pd.read_csv("../data/raw/bank-full.csv")
columns = df.columns

In [21]:
# replace columns and form a dataframe (convert numpy array to a dataframe)
dev_data = pd.DataFrame(dev_data, columns= columns)
dev_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,target
0,49,blue-collar,divorced,primary,no,0,yes,no,cellular,6,may,305,1,281,2,failure,no
1,34,management,married,tertiary,no,496,no,no,cellular,12,aug,105,6,-1,0,unknown,no
2,41,technician,single,tertiary,no,431,no,no,cellular,22,oct,133,1,107,2,success,yes
3,45,management,married,tertiary,no,474,yes,yes,cellular,2,feb,190,4,264,4,failure,no
4,28,student,single,tertiary,no,3026,no,no,cellular,3,feb,124,1,-1,0,unknown,no

In [9]:
# Always start with building stupid models and see what they bring up and then introduce machine learning to see how ML helps in building a better model
# If you want to solve problems and build products always start with a stupid model
# experimenting with base modles is quick and low cost 
# Reference " https://blog.insightdatascience.com/always-start-with-a-stupid-model-no-exceptions-3a22314b9aaa"

In [10]:
#create target vector and feature matrix
x, y = dev_data.drop(columns='target', axis=1), dev_data.target

#split data into train and test set
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=0)
dummy = DummyClassifier(strategy='uniform', random_state=1)

# "Train" model
dummy.fit(X_train, y_train)

DummyClassifier(random_state=1, strategy='uniform')

In [12]:
#evaluate performance metric
dummy.score(X_test,y_test)

0.515473032714412

In [22]:
#predict the data and print the classification report
y_pred = dummy.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          no       0.87      0.52      0.65       986
         yes       0.13      0.48      0.20       145

    accuracy                           0.52      1131
   macro avg       0.50      0.50      0.43      1131
weighted avg       0.78      0.52      0.59      1131